<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="classpath:musicPlayer.properties" />

	<bean id="musicRockBean" class="secondSpringApplication.RockMusic">
	</bean>
	<bean id="musicMetallBean"
		class="secondSpringApplication.MetallMusic">
	</bean>
	<bean id="musicClassicBean"
		class="secondSpringApplication.ClassicMusic">
	</bean>
	<bean id="musicPlayerBean"
		class="secondSpringApplication.MusicPlayer">
		<property name="musicList">
			<list>
				<ref bean="musicRockBean" />
				<ref bean="musicMetallBean" />
				<ref bean="musicClassicBean" />

			</list>
			
		</property>
		<property name="volume" value="${musicPlayerBean.volume}"></property>
        <property name="playlistShuffle" value="${musicPlayerBean.playlistShuffle}"></property>
		
	
	</bean>

</beans>